ninja
Pillow
einops
safetensors
timm
tomesd
torch==2.7.0
torchdiffeq
torchsde
decord
datasets
torchvision==0.22.0
opencv-python>=4.9.0.80
diffusers==0.30.1
transformers==4.51.3
tokenizers>=0.20.3
accelerate>=1.1.1
tqdm
easydict
ftfy
dashscope
imageio-ffmpeg
gradio>=5.0.0
numpy>=1.23.5,<2
scikit-image
opencv-python
omegaconf
SentencePiece
albumentations
imageio[ffmpeg]
imageio[pyav]
tensorboard
beautifulsoup4
ftfy
librosa
torchaudio==2.7.0
